<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.12.2">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.2.7"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.2.7">
      <jobProperties/>
      <triggers/>
      <parameters/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.45">
    <script>pipeline {
    agent any
    environment {
		// 项目名称
		MODULE=&quot;cms_server&quot;
		// git仓库地址
		GIT_REPOSITORY=&quot;git@github.com:zhulinwei/cms_server.git&quot;
		DOCKER_REPOSITORY_NAME=&quot;18813299554&quot;
		DOCKER_REPOSITORY_PASSWORD=&quot;wei994987247&quot;
		// 镜像名称 
		DOCKR_IMAGE_NAME=&quot;registry-vpc.cn-shenzhen.aliyuncs.com/zhulinwei/test:${MODULE}&quot;
	}
    stages {
        stage(&apos;获取代码&apos;) {
			steps {
				echo &quot;开始从git仓库:${GIT_REPOSITORY}获取源代码&quot;
				// 删除工作目录
				deleteDir()
				// 获取源代码
				git &quot;${GIT_REPOSITORY}&quot;
			}
		}
        stage(&apos;开始测试&apos;) {
            agent {
                docker {
                    image &apos;node:10-alpine&apos; 
                    args &apos;-p 3000:3000&apos;
                    // 共用同一个工作空间 
                    reuseNode true
                }
            }
            steps {
                sh &quot;npm i --registry=https://registry.npm.taobao.org&quot;
                sh &quot;npm run test&quot;
            }
        }
        stage(&apos;开始构建 &apos;) {
            steps {
                sh &quot;sh ./bin/build.sh 1171567018@qq.com wei994987247&quot;
            }
        }
        stage(&apos;开始部署  &apos;) {
            steps {
                timeout(time: 60, unit: &apos;SECONDS&apos;) {
                    sh &quot;scp -r ./bin/deploy.sh root@115.28.157.15:/home&quot;
                    sh &quot;&quot;&quot;
                        ssh -tt root@115.28.157.15 &quot;mkdir -p cms_server &amp;&amp; mv /home/deploy.sh /home/cms_server/ &amp;&amp; sh /home/cms_server/deploy.sh&quot;
                    &quot;&quot;&quot;
                }
            }
        }
        
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
